body {
    font-family: 'Arial', sans-serif;
    background:  #74ebd5; 
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 12px;
    font-size: 1.1em;
    border: 2px solid #ACB6E5;
    border-radius: 50px;
    margin-bottom: 10px;
    outline: none;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    border-color: #74ebd5;
}

button {
    background: #74ebd5;
    color: white;
    padding: 12px 24px;
    font-size: 1.1em;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: #ACB6E5;
}

#weather-result {
    margin-top: 20px;
}

h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.weather-info {
    font-size: 1.4em;
    margin: 10px 0;
}

img {
    margin: 20px 0;
    max-width: 100px;
}

p.error {
    color: #ff4e4e;
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width: 768px) {
    input[type="text"] {
        width: 70%;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.7em;
    }
}
